:root {
    --primary-color: #bc6c25;
    --secondary-color: #4d3822;
    --hover-color: #e76f51;
    --section-color: #b78752;
}

*{
    font-family: "Plus Jakarta Sans", sans-serif;
}

/*! NAVBAR */

.navbar{
    background-color: transparent !important;
    position: fixed !important;
    z-index: 5;
    width: 100%;
}

.navbar .container{
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-nav{
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: bold;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: var(--primary-color) !important;
}

/*! CAROUSEL */

.carousel-item{
    /* height: calc(100vh - 135px); */
     height: 100vh; 
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
}

.carousel-caption{
    bottom: 40% !important;
}

.carousel-caption .btn{
    background-color: var(--primary-color);
    border: none;
    width: 10rem;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.carousel-caption .btn:first-child {
    background-color: transparent;
}

.carousel-caption .btn:first-child:hover {
    background-color: white;
    color: black;
}

.hero{
    position: relative;
    z-index: 3;
}

.black{
    width: 450px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    
}

.carousel-indicators{
    gap: 0.7rem;
}

.carousel-indicators button{
    background-color: var(--primary-color) !important;
    padding: 0.1rem !important;
    width: 3rem !important;
}